.avatar {
  aspect-ratio: 1 / 1;
  border-radius: $border-radius-pill;
  height: 4rem;
  width: 4rem;
  border: 2px solid $border-color;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include color-mode(dark) {
    & {
      border-color: $border-color-dark;
    }
  }
}

$avatar-size: (
  xs: 2.5rem,
  sm: 3rem,
  md: 4rem,
  lg: 5rem,
);

@each $size, $value in $avatar-size {
  .avatar-#{$size},
  .avatar-#{$size} > img {
    height: $value;
    width: $value;
  }
}
